body {
	margin: 20px 20px 20px 20px;
	background-color: black;
	padding: 10px auto;
	font-family: 'Tektur', cursive;
}

main {
	padding: 75px 20px;
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

h1 {
	font-size: 50px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	padding: 20px;
}

a:hover {
	color: #ff0000;
}

nav {
	padding: 15px 20px;
	float: right;
}

img {
	object-position: center;
}

img:hover {
	opacity: 0.5;
}