/* ! UNIVERSAL CSS */
body {
	margin: 20px 20px 20px 20px;
	background-color: black;
	padding: 10px auto;
	font-family: 'Tektur', cursive;
}

main {
	padding: 75px 70px 20px;
}

h1, h2, h3, h4, h5, h6, p {
	color: #FFFFFF;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h3.intro {
	padding-left: 26%;
}

h3.skills {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

a.links {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
}

a.links:hover {
	color: #666666;
	text-decoration-line: line-through;
}

nav {
	padding: 15px 20px;
	float: right;
}

img.centerimage {
	width: 200px;
	height: 200px;
	margin: auto;
	display: block;
	border-radius: 50%;
}

button.ghbtn {
	margin: 0 auto;
	display: block;
	border-radius: 10px;;
	border-color: #ffffff;
	width: 100px;
	height: 30px;
	background-color: #000000;
	color: #ffffff;
	font-family: 'Tektur', cursive;
	text-decoration: none;
}

button.ghbtn:hover {
	border-color: #000000;
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
	text-decoration: line-through;
}

h3.center_this {
	text-align: center;
}

ul.prjctlst, li {
	padding: 10px;
	color: #ffffff;
	text-align: center;
	list-style-type: none;
	padding-bottom: 10px;
}

a.projects {
	color: #000293;
	text-decoration: none;
}

a.projects:hover {
	color: #ffffff;
	text-decoration: line-through;
}